/*empieza estilo de home.php*/
*{
margin:0;
padding:0;
box-sizing:border-box;
}
html,body{
scroll-behavior:smooth;
height:100%;
font-family:Helvetica;
display:block;
}



body button{
	padding:10px;
	border:none;
	background-color:#eae8e8;
	border:1px solid black;
}
body button:hover{
	background-color:white;
}
body button:active{
	background-color:white;
}

nav{
	display:inline-block;
	color:white;
	background:black;
	height:auto;
	width:100%;
	position:fixed;
	margin-bottom:95.4%;
	z-index:2;
}
nav button{
	margin-right:5px;
	float:right;
}
nav button:hover{
	color:red;
}
aside{
	margin-top:4.5%;
	float: left;
	top:5%;
	width: 20%;
	background: #ccc;
	padding: 20px;
	position:fixed;
	overflow:visible;
	z-index:2;
	overflow:visible;
}
section{
	margin-top:4.5%;
}

#taes_detalles{
	margin-top:4.5%;
	display:block;
	width:80%;
	float:right;
	z-index:0;
}
#deptos{
	display:grid;
	grid-template-columns:  auto auto auto;
	grid-gap: 10px;
	/*background-color: #2196F3;*/
	padding: 10px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/*termina estilo de home.php*/









